.main-about {
  width: 100%;
  padding: 2rem;
  .topcontent {
    width: 100%;
    padding: 2rem;
    margin-top: 5%;
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-size: 2.5rem;
      color: #102327;
      font-family: manrope-semibold;
    }
    .image {
      width: 10%;
      img {
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
  .main-card {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    button {
      width: 10%;
      height: 5%;
      padding: 0.4rem 1rem;
      border-radius: 30px;
      border: 0.1rem solid #102327;
      color: #102327;
      background-color: transparent;
      font-family: manrope-medium;
    }
    .svg-card {
      width: 29%;
      position: relative;
      overflow: hidden;
      border-radius: 32px;
      .bg-shape {
        position: absolute;
      }
      button {
        width: fit-content;
        margin: 2rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 1.1rem;
        border: 0.1rem solid #f1f8fe;
        color: #f1f8fe;
        background-color: transparent;
        z-index: 99;
      }
      /*First image*/
      img {
        position: absolute;
        right: -5%;
        top: -4.5%;
        width: 90%;
        // background-color: red;
      }
      .icon {
        height: 85px;
        width: 85px;
        background-color: #0c2e37;
        border-radius: 50%;
        position: relative;
        top: 75%;
        left: 4%;
        .arrow {
          position: absolute;
          top: 30%;
          left: 20%;
          width: 50%;
          height: 50%;
        }
      }
      p {
        color: #0c2e37;
        font-family: manrope-bold;
        font-size: 1.7rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
      }
      span {
        color: #102327;
        font-size: 1rem;
      }
    }
    .center-card {
      width: 30%;
      height: 480px;
      border-radius: 50px;
      background-color: #e0ab43;
      position: relative;

      button {
        width: fit-content;
        margin: 2rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 1.1rem;
        border: 0.1rem solid #f1f8fe;
        color: #f1f8fe;
        background-color: transparent;
      }
      /*Second image*/
      img {
        position: absolute;
        right: 5%;
        top: 18%;
        width: 90%;
        // background-color: red;
      }
      .text-content {
        width: fit-content;
        // background-color: red;
        margin-top: 130%;
        p {
          color: #0c2e37;
          font-family: manrope-bold;
          font-size: 1.7rem;
          line-height: 1.4;
          margin-bottom: 1.5rem;
        }
        span {
          color: #102327;
          font-size: 1rem;
        }
      }
    }
    .right-card {
      width: 30%;
      height: 480px;
      border-radius: 50px;
      background-color: #416446;
      position: relative;

      button {
        width: fit-content;
        margin: 2rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 1.1rem;
        border: 0.1rem solid #f1f8fe;
        color: #f1f8fe;
        background-color: transparent;
      }
      /*Third image*/
      img {
        position: absolute;
        right: 1%;
        bottom: -10%;
        width: 90%;
        // background-color: red;
      }
      .text-content {
        width: fit-content;
        // background-color: red;
        margin-top: 130%;
        p {
          color: #0c2e37;
          font-family: manrope-bold;
          font-size: 1.7rem;
          line-height: 1.4;
          margin-bottom: 1.5rem;
        }
        span {
          color: #102327;
          font-size: 1rem;
        }
      }
    }
  }
}
