.main-about {
  width: 100%;
  padding: 2rem;
  margin-top: 10%;
  .topcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    h1 {
      font-size: 2.5rem;
      font-family: manrope-semibold;
      color: #102327;
      line-height: 1.3;
    }

    .image {
      width: 10%;

      img {
        width: 100%;
      }
    }
  }

  .main-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  /* About Us floating button */
  .section-btn {
    position: absolute;
    top: -2.5rem;
    left: 0;
    padding: 0.5rem 1.4rem;
    border-radius: 30px;
    border: 1px solid #102327;
    background: transparent;
    font-family: manrope-medium;
    color: #102327;
  }

  /* ===== COMMON CARD ===== */
  .svg-card,
  .center-card,
  .right-card {
    height: 600px;
    border-radius: 32px;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5%;
  }

  /* ===== SVG CARD ===== */
  .svg-card {
    // background: #f1f8fe;

    .bg-shape {
      position: absolute;
      inset: 0;
    }

    img {
      position: absolute;
      top: -10%;
      right: -5%;
      width: 90%;
    }
    button {
      background-color: transparent;
      border: 0.1rem solid #f4eae1;
      color: #f4eae1;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      position: absolute;
      z-index: 99;
    }

    .icon {
      position: absolute;
      bottom: 2rem;
      left: 1rem;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background: #0c2e37;

      .arrow {
        position: absolute;
        inset: 35%;
      }
    }

    p {
      font-size: 1.6rem;
      font-family: manrope-bold;
      margin-bottom: 0.8rem;
    }

    span {
      font-size: 1rem;
    }
  }

  /* ===== CENTER CARD ===== */
  .center-card {
    background: #e0ab43;

    img {
      position: absolute;
      top: 15%;
      right: 1%;
      width: 100%;
    }

    .card-content {
      margin-top: auto;

      p {
        font-size: 1.6rem;
        font-family: manrope-bold;
        margin-bottom: 0.8rem;
      }
    }
  }

  /* ===== RIGHT CARD ===== */
  .right-card {
    background: #416446;

    img {
      position: absolute;
      bottom: -8%;
      right: 2%;
      width: 90%;
    }

    .card-content {
      margin-top: auto;

      p {
        font-size: 1.6rem;
        font-family: manrope-bold;
        margin-bottom: 0.8rem;
      }
    }
  }
  /*Gobal variables*/
  .card-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .card-text {
    padding-left: 1rem;
    p {
      font-size: 1.6rem;
      font-family: manrope-bold;
      color: #0c2e37;
    }
    span {
      font-size: 1.2rem;
      color: #0c2e37;
      font-family: manrope-medium;
    }
  }
  button {
    background-color: transparent;
    border: 0.1rem solid #f4eae1;
    color: #f4eae1;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    position: absolute;
    z-index: 99;
  }
}
