.main-believe {
  width: 100%;
  padding: 2rem;
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        color: #0c2e37;
        font-family: manrope-bold;
        font-size: 1.9rem;
      }
      span {
        font-size: 1.1rem;
        color: #0c2e37;
        font-family: manrope-medium;
      }
      .apps {
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .apple {
          span {
            color: #0c2e37;
          }
        }
      }
      .btn {
        margin-top: 5%;
        width: fit-content;
        color: #f1f8fe;
        background-color: #416446;
        border-radius: 50px;
        padding: 1rem;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      .btn {
        width: fit-content;
        border: 0.1rem solid #0c2e37;
        border-radius: 50px;
        padding: 0.5rem;
      }
      .flex-container {
        display: flex;
        flex-direction: row;
        padding: 2rem 1rem;
        width: 60%;
        .left {
          display: flex;
          flex-direction: column;
          .inner {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
          }
          .icon {
            width: 38px;
            height: 38px;
            border-radius: 50px;
            background-color: #0c2e37;
            position: relative;
            .up {
              position: absolute;
              left: 20%;
              top: 10%;
            }
          }
          span {
            color: #0c2e37;
            font-size: 1rem;
          }
        }
      }
      .image-container {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
