.footer {
  width: 100%;
  padding: 2rem;

  .footer-card {
    background-color: #0c2e37;
    border-radius: 30px;
    // padding: 2.5rem;

    display: flex;
    gap: 2rem;
  }

  /* LEFT */
  .footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .para {
      padding: 2rem;
      p {
        font-size: 2rem;
        color: aliceblue;
        font-family: manrope-medium;
        line-height: 1.3;
      }
    }
    .image-wrap {
      width: 70%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin-bottom: 2px;
        margin-left: 15px;
      }
    }
  }

  /* RIGHT */
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      text-decoration: none;
      color: aliceblue;
      font-family: manrope-regular;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* BRAND */
  .brand {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }

    span {
      font-size: 2rem;
      color: aliceblue;
      font-family: manrope-semibold;
    }
  }

  /* SOCIAL */
  .social-icons {
    display: flex;
    gap: 1rem;

    button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #20414a;
      border: none;
      cursor: pointer;

      display: grid;
      place-items: center;

      svg {
        color: #eef2f2;
      }

      &:hover {
        background-color: #2b5661;
      }
    }
  }
}
