@mixin circle($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  border-radius: 50%;
}

.potential {
  width: 100%;
  padding: 3rem;

  .potential-card {
    position: relative;
    width: 100%;
    height: 360px;
    border-radius: 32px;
    overflow: hidden;

    /* SVG as background */
    .bg-shape {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    /* Text */
    .content {
      position: relative;
      z-index: 2;
      max-width: 50%;
      padding: 2.5rem;

      p {
        font-size: 3rem;
        line-height: 1.2;
        color: #fafef9;
        font-family: manrope-bold;
      }
    }

    /* Decorative circles */
    .circle {
      position: absolute;
      z-index: 2;

      &.yellow {
        @include circle(70px, #e4aa3b);
        top: 20%;
        right: 30%;
      }

      &.orange {
        @include circle(50px, #cd6a4a);
        bottom: 20%;
        left: 30%;
      }
    }

    /* Action button */
    .action-btn {
      position: absolute;
      z-index: 3;
      top: 50%;
      right: 1%;
      transform: translateY(-10%);

      width: 96px;
      height: 96px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      background-color: #0c2e37;
      display: grid;
      place-items: center;

      svg {
        width: 40px;
        height: 40px;
        stroke-width: 3;
        color: #f1f8fe;
      }
    }
  }
}
