.main-topsection {
  padding: 2rem;

  .hero-card {
    background: #0c2e37;
    border-radius: 50px;
    clip-path: url(#custom-clip);
    padding: 4rem;
    position: relative;
    height: 750px;
  }

  .hero-inner {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  /* LEFT */
  .hero-left {
    flex: 1;

    h1 {
      font-size: 3rem;
      font-family: manrope-extrabold;
      color: #f1f8fe;
      line-height: 1.2;
      max-width: 90%;

      .inline-images {
        display: inline-flex;
        margin: 0 0.5rem;
        gap: 0.2rem;

        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .hero-actions {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .primary-btn {
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    background: #dead44;
    border: none;
    color: #0c2e37;
    font-family: manrope-bold;
  }

  .stats {
    display: flex;
    gap: 2rem;

    h3 {
      color: #f1f8fe;
      font-size: 1.5rem;
    }

    span {
      color: #dead44;
      font-size: 0.9rem;
    }
  }

  /* RIGHT */
  .hero-right {
    flex: 1;
    position: relative;

    img {
      width: 100%;
      max-width: 820px;
      object-fit: contain;
    }
  }

  /* TAGS */
  .hero-tags {
    margin: 1rem;
    margin-top: -11%;
    display: flex;
    gap: 1rem;
    background: #416446;
    padding: 1.2rem 3rem;
    border-radius: 30px;
    width: fit-content;

    button {
      background: transparent;
      border: 1px solid #f1f8fe;
      color: #f1f8fe;
      border-radius: 30px;
      padding: 0.4rem 1rem;
      font-family: manrope-bold;
    }
  }
}
