@mixin circle($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  border-radius: 50%;
}

.main-welcome {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f4eae1, #ebd6c3);
  position: relative;
  overflow: hidden;

  /* Top Image */
  .image {
    width: 12%;
    height: 200px;
    background-color: #446246;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 5%;

    img {
      width: 110%;
      position: absolute;
      top: -55%;
      left: -10%;
      object-fit: cover;
    }
  }

  /* Center Text */
  .center-text {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 15%;

    p {
      font-size: 2.5rem;
      font-family: manrope-bold;
      color: #0c2e37;
    }

    h6 {
      margin-top: 3%;
      font-size: 1.5rem;
      font-family: manrope-medium;
      color: #0c2e37;
    }
  }

  /* Bottom Image */
  .bottom-image {
    width: 15%;
    height: 200px;
    background-color: #e4aa3b;
    border-radius: 20px;
    position: absolute;
    right: 5%;
    bottom: 10%;

    img {
      width: 110%;
      position: absolute;
      top: -70%;
      object-fit: cover;
    }
  }

  /* Decorative Circles */
  .circle {
    @include circle(70px, #e4aa3b);
    position: absolute;
    top: 18%;
    left: 18%;
  }

  .circle1 {
    @include circle(50px, #446246);
    position: absolute;
    top: 25%;
    left: 28%;
  }

  .circle3 {
    @include circle(70px, #e4aa3b);
    position: absolute;
    bottom: 25%;
    right: 22%;
  }

  .circle4 {
    @include circle(50px, #446246);
    position: absolute;
    bottom: 18%;
    right: 35%;
  }
  .circle5 {
    @include circle(50px, #cd6a4a);
    position: absolute;
    top: 10%;
    right: 25%;
  }
}
