* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: manrope-regular, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f4eae1;
}

/*All Fonts src*/
@font-face {
  font-family: manrope-regular;
  src: url(../assets/Fonts/manrope-regular.otf);
}
@font-face {
  font-family: manrope-medium;
  src: url(../assets/Fonts/manrope-medium.otf);
}
@font-face {
  font-family: manrope-light;
  src: url(../assets/Fonts/manrope-light.otf);
}
@font-face {
  font-family: manrope-semibold;
  src: url(../assets/Fonts/manrope-semibold.otf);
}
@font-face {
  font-family: manrope-bold;
  src: url(../assets/Fonts/manrope-bold.otf);
}
@font-face {
  font-family: manrope-extrabold;
  src: url(../assets/Fonts/manrope-extrabold.otf);
}
